* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url('assest/BG.png') center/cover no-repeat fixed;
  min-height: 100vh;
}

h1 {
  font-family: "Comic Sans MS", sans-serif ;
  color: #fff70d;
  font-size: 48px;
  font-weight: bold;
  text-align: left;
  margin-top: 20px;
  margin-left: 40px;
  -webkit-text-stroke-width: 2px; 
  -webkit-text-stroke-color: rgb(255, 93, 24); 
}

h2 {
    font-family: "Comic Sans MS", sans-serif ;
    color: #ffffff;
    background-color: blue;
    background-image: none;
    width: fit-content;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-top: 0%;
    margin-left: 150px;
}

#sun-lying-down {
    display: fixed;
    margin-top: 300px;
    margin-left: 50px;
    width: 400px;
    height: auto;
}

#portrait-of-sun {
  position: absolute;
  top: 110px;
  right: -20px;
  width: 250px;
  height: auto;
}

#sun-icon-gift {
  position: absolute;
  top: -35%;
  right: -100px;
  width: 60%;
  height: auto;
}

.note-card {
  position: relative;
  display: inline-block;
  top: -680px;
  left: 350px;
  width: 350px;
  height: auto;
}

#note img {
  display: block;
  width: 100%;
  height: auto;
}

#note-text {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 12px;
  position: absolute;
  top: 20%;  
  left: 35%;   
  padding: 16px;
  max-width: 180px;
  max-height: 240px;         
  overflow-y: auto;          
  overflow-x: hidden;        
}

.media-wrapper {
  position: absolute; 
  width: 600px;
  margin-top: -70%;
  margin-left: 45%;
}

.media-player img {
  display: block;
  width: 100%;                
  height: auto;
}

.media-video {
  position: absolute;
  top: 9%; left: 4%;        
  width: 92%; height: 87%;    
  object-fit: cover; 
}

/* ————————————
   MUSIC PLAYER CONTAINER
———————————— */
.player {
  width: fit-content;
  border: 2px solid #CECECE;
  border-radius: 100px;
  margin-left: 24%;
  margin-top: -46%;
  padding: 5px;

  background: linear-gradient(
    0deg,
    rgb(205,205,205) 0%,
    rgb(230,230,230) 30%,
    rgb(255,255,255) 100%
  );
}

/* ————————————
   WINDOW
———————————— */
.player .window {
  padding: 10px;
  width: 290px;
}

.player .window-body {
  display: block;
  margin: auto;
}

/* ————————————
   FLEX
———————————— */
.flex {
  display: flex;
}

/* ————————————
   RANGE SLIDER
———————————— */
.seek_slider {
  appearance: none;
  height: 6px;
  background: #e4d5dc;
  opacity: 0.7;
  border-radius: 8px;
}

.seek_slider::-webkit-slider-thumb {
  appearance: none;
  width: 8px;
  height: 8px;
  background: white;
  border: 1px solid #cecece;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  bottom: 3px;
}

/* Reset */
input[type=range] {
  appearance: none;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}

/* ————————————
   MUSIC PLAYER
———————————— */
#musicplayer {
  float: right;
  margin-left: 8px;
  padding-left: 10px;

  background: linear-gradient(0deg, #F1E3F0, white) padding-box,
              linear-gradient(to top, white, #A2A2A2) border-box;

  border-radius: 60em;
  border: 2px solid transparent;

  box-shadow: inset 1px 1px 10px rgba(128,128,128,0.27);
}

/* ————————————
   CLICK WHEEL
———————————— */
.wheel {
  margin: auto;
  padding-top: 0;

  background: linear-gradient(white, white) padding-box,
              linear-gradient(to top, white, #A2A2A2) border-box;

  border-radius: 50em;
  border: 2px solid transparent;

  box-shadow: inset 1px 1px 10px rgba(128,128,128,0.27);
}

.innerwheel {
  padding: 9px 12px;
  border-radius: 50em;
  border: 2px solid #E2E2E2;

  box-shadow: inset 1px 1px 10px rgba(128,128,128,0.17);
}

/* ————————————
   CLICK WHEEL BUTTONS
———————————— */
.wheelcontrols {
  text-align: center;
  font-size: 14px;
  padding-top: 2px;
  color: #aaa;
  opacity: 0.8;
}

.wheelcontrols button {
  background: none;
  border: none;
  color: #aaa;
  font-size: 14px;
  opacity: 0.6;
  padding: 2px;
  cursor: pointer;
}

.wheelcontrols button:hover {
  opacity: 1;
}

/* ————————————
   SONG TITLE
———————————— */
.songtitle {
  padding: 25px 15px 0 15px;
  font-size: 16px;
  font-family: "Myriad Pro";
  color: #A3A3A3;
}

/* ————————————
   BOTTOM CONTROL ICONS
———————————— */
.controls button {
  background: none;
  border: none;
  color: #ccb3be;
  opacity: 0.6;
  font-size: 14px;
  margin-left: 15px;
}

.controls button:hover {
  opacity: 1;
}

/* Play/Pause icon */
.playpause-track {
  font-size: 22px;
  padding: 3px;
}

/* ————————————
   SEEKING BAR TIME
———————————— */
.seeking {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  padding-bottom: 0;
  color: #A3A3A3;
}

.current-time { padding-right: 5px; }
.total-duration { padding-left: 5px; }


/* ——————————————————————————————
   INFINITE IMAGE CAROUSEL
—————————————————————————————— */

.scroll-container {
  height: 50svh;
  display: flex;
  margin-top: 15%;
  justify-content: center;
  align-items: center;
}

.infinite-scroll-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.infinite-scroll-content {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  gap: 16px;
  animation: scroll 100s linear infinite;
  width: 100%;
}

.infinite-scroll-items {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  gap: 16px;
}

.item-wrap {
  position: relative;
  min-width: 238px;
  height: 315px;
  flex-shrink: 0;
  overflow: hidden;
}

.item-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .3s ease;
}

.item-wrap .text {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 2;
  color: #fff;
  font-weight: 500;
}

.item-wrap:hover img {
  transform: scale(1.05);
}

/* Pause on hover for desktop */
@media (min-width: 1024px) {
  .infinite-scroll-wrapper:hover .infinite-scroll-content {
    animation-play-state: paused;
  }
}

/* Animation */
@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
